/* Reset basic styling */
@font-face {
  font-family: Rubik; /* מגדיר את הגופן Rubik */
  src: url("../fonts/RubikVinyl-Regular.ttf"); /* מגדיר את מיקום הקובץ של הגופן */
}

* {
  margin: 0; /* מאפס מרווחים חיצוניים */
  padding: 0; /* מאפס מרווחים פנימיים */
  box-sizing: border-box; /* שולט על גודל האלמנטים ביחס לגבולות שלהם */
}

/* Body styling */
body {
  background: #00b3ff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* מגדיר את הגופן של הטקסט בגוף */
  line-height: 1.6; /* גובה השורה */
  background-color: #f0f0f0; /* צבע הרקע של הדף */
}

/* Header styling */
header {
  background: #00b3ff;/* צבע הרקע של הכותרת */
  color: #fff; /* צבע הטקסט בכותרת */
  padding: 15px 0; /* מרווח פנימי עליון ותחתון */
  text-align: center; /* ממרכז את התוכן */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* צל מתחת לכותרת */
}

header h1 {
  font-family: Rubik; /* משתמש בגופן Rubik */
  font-size: 80px; /* גודל הפונט של הכותרת הראשית */
  margin-bottom: 10px; /* מרווח תחתון לכותרת */
}

header nav ul {
  list-style: none; /* מבטל את הנקודות ברשימה */
}

header nav ul li {
  display: inline-block; /* מציג את הפריטים בשורה */
  margin: 0 20px; /* מרווח בין הפריטים */
}

header nav ul li a {
  color: #fff; /* צבע הקישורים */
  text-decoration: none; /* מבטל קו תחתון לקישורים */
  font-weight: bold; /* מעבה את הפונט */
  font-size: 20px; /* גודל הפונט של הקישורים */
}

header nav ul li a:hover {
  text-decoration: underline; /* מדגיש קישור כשעוברים מעליו */
}

/* Main content styling */
main {
  padding: 30px; /* מרווח פנימי */
  background: #fff; /* צבע הרקע של החלק המרכזי */
  max-width: 100%; /* רוחב מקסימלי של החלק המרכזי */
  margin: 40px auto; /* ממרכז את החלק המרכזי עם מרווח עליון ותחתון */
  border-radius: 10px; /* פינות מעוגלות לחלק המרכזי */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* צל לחלק המרכזי */
}

main h2 {
  margin-bottom: 30px; /* מרווח תחתון לכותרת המשנה */
  color: #333; /* צבע הטקסט של כותרת המשנה */
  text-align: center; /* ממרכז את הכותרת המשנה */
}

main ul {
  list-style: none; /* מבטל את הנקודות ברשימה */
  padding-left: 0; /* מאפס מרווח פנימי משמאל */
}

main ul li {
  background: #fff; /* צבע הרקע של הפריטים ברשימה */
  margin-bottom: 10px; /* מרווח תחתון בין הפריטים */
  padding: 10px; /* מרווח פנימי לפריטים */
  border: 2px solid #00b3ff; /* מסגרת כחולה סביב הפריטים */
  border-radius: 20px; /* פינות מעוגלות לפריטים */
  transition: transform 0.2s, box-shadow 0.2s; /* אפקט מעבר לפריטים */
  font-size: 18px; /* גודל הפונט של הפריטים */
  margin-left: 10px; /* מרווח פנימי משמאל */
  margin-right: 10px; /* מרווח פנימי מימין */
  text-align: center; /* ממרכז את הטקסט בפריטים */
}

/* Footer styling */
footer {
  background: #00b3ff; /* צבע הרקע של הכותרת התחתונה */
  color: #fff; /* צבע הטקסט בכותרת התחתונה */
  text-align: center; /* ממרכז את התוכן */
  padding: 7px 0; /* מרווח פנימי עליון ותחתון */
  position: fixed; /* הכותרת התחתונה נשארת במקום */
  bottom: 0; /* ממקם את הכותרת התחתונה בתחתית הדף */
  width: 100%; /* הכותרת התחתונה תופסת את כל הרוחב */
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1); /* צל מעל הכותרת התחתונה */
}

#addContactBtn,
#deleteAllBtn,
#suprise {
  padding: 10px 20px; /* מרווח פנימי לכפתורים */
  border: none; /* ללא מסגרת */
  border-radius: 5px; /* פינות מעוגלות לכפתורים */
  cursor: pointer; /* משנה את הסמן ליד כשהוא מעל הכפתור */
  font-size: 16px; /* גודל הפונט של הכפתורים */
  background-color: #00b3ff; /* צבע רקע לכפתורים */
  color: white; /* צבע הטקסט של הכפתורים */
  margin-bottom: 20px; /* מרווח תחתון לכפתורים */
}

#search {
  border-color: #00b3ff; /* צבע המסגרת של שדה החיפוש */
  padding: 10px 20px; /* מרווח פנימי לשדה החיפוש */
  border-radius: 5px; /* פינות מעוגלות לשדה החיפוש */
}

.modal {
  display: none; /* מסתיר את החלון המוקפץ */
  position: fixed; /* ממקם את החלון המוקפץ בצורה קבועה */
  z-index: 1; /* סדר השכבות של החלון המוקפץ */
  left: 0; /* ממקם את החלון המוקפץ משמאל */
  top: 0; /* ממקם את החלון המוקפץ מלמעלה */
  width: 100%; /* רוחב של 100% לחלון המוקפץ */
  height: 100%; /* גובה של 100% לחלון המוקפץ */
  overflow: auto; /* מאפשר גלילה אם התוכן גדול מדי */
  background-color: rgba(0, 0, 0, 0.5); /* צבע רקע כהה לחלון המוקפץ */
}

.modal-content {
  background-color: #fefefe; /* צבע רקע של התוכן בחלון המוקפץ */
  margin: 15% auto; /* ממקם את התוכן במרכז */
  padding: 20px; /* מרווח פנימי לתוכן */
  border: 1px solid #00b3ff; /* מסגרת כחולה לתוכן */
  width: 80%; /* רוחב של 80% לתוכן */
}

.close {
  color: #000000; /* צבע הטקסט של הכפתור לסגירה */
  float: right; /* מיישר את כפתור הסגירה לימין */
  font-size: 28px; /* גודל הפונט של כפתור הסגירה */
  font-weight: bold; /* מעבה את הפונט של כפתור הסגירה */
}

.close-popup{
  cursor: pointer;
  color: #000000; /* צבע הטקסט של הכפתור לסגירה */
  float: right; /* מיישר את כפתור הסגירה לימין */
  font-size: 28px; /* גודל הפונט של כפתור הסגירה */
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black; /* צבע הטקסט של כפתור הסגירה כשעוברים מעליו */
  text-decoration: none; /* מבטל קו תחתון לכפתור הסגירה */
  cursor: pointer; /* משנה את הסמן ליד כשהוא מעל כפתור הסגירה */
}

/* עיצוב הכפתורים */
.editBtn,
.deleteBtn,
.saveBtn,
.infoBtn {
  padding: 6px; /* מרווח פנימי לכפתורים */
  font-size: 16px; /* גודל הפונט של הכפתורים */
  color: white; /* צבע הטקסט של הכפתורים */
  background-color: #00b3ff; /* צבע רקע לכפתורים */
  border: none; /* ללא מסגרת לכפתורים */
  border-radius: 5px; /* פינות מעוגלות לכפתורים */
  cursor: pointer; /* משנה את הסמן ליד כשהוא מעל הכפתור */
}

.center {
  text-align: center; /* ממרכז את התוכן */
}

/* Media Queries for Mobile */
@media only screen and (max-width: 768px) {
  header h1 {
    font-size: 40px; /* מקטין את גודל הכותרת הראשית במסכים קטנים */
  }

  header nav ul li {
    display: block; /* מציג את הפריטים בטור במסכים קטנים */
    margin: 10px 0; /* מרווח בין הפריטים */
  }

  header nav ul li a {
    font-size: 18px; /* מקטין את גודל הקישורים במסכים קטנים*/
  }

  main {
    padding: 15px; /* מקטין את המרווח הפנימי בחלק המרכזי במסכים קטנים */
    margin: 20px auto; /* מקטין את המרווח החיצוני בחלק המרכזי */
  }

  main ul li {
    margin-left: 0; /* מבטל את המרווח השמאלי לפריטים ברשימה */
    margin-right: 0; /* מבטל את המרווח הימני לפריטים ברשימה */
  }

  #addContactBtn,
  #deleteAllBtn,
  #search {
    width: 100%; /* כפתורים ושדה חיפוש יתפוסו את כל רוחב המסך */
    margin-bottom: 10px; /* מרווח תחתון לכפתורים ושדה החיפוש */
  }

  .modal-content {
    width: 90%; /* רוחב של 90% לתוכן בחלון המוקפץ במסכים קטנים */
    margin: 30% auto; /* ממקם את התוכן במרכז עם מרווח עליון גדול יותר */
  }

}

